.mainContentView {
    background-color: black;
    max-width: 37.5rem;
    height: calc(100vh - 6.15rem);
    text-align: center;
    font-size: 40px;
    margin-left: 13rem;
    border-right: 1px solid rgb(83, 83, 83);
    border-left: 1px solid rgb(83, 83, 83);
    overflow: hidden;
}

  @media screen and (max-width: 1000px) {
    .mainContentView {
        margin-left: 3rem;
    }
  }