.main {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align:top
}

.base {
    background: #000;
    margin:0;
    font-family: "Chirp";
}

@font-face {
    font-family: 'Chirp';
    src: url('/fonts/chirp-regular-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}