.main {
    min-height: 100%;
    margin-left: 20%;
}


  @media screen and (max-width: 1030px) {
    .main {
        margin-left: 10%;
    }
}

  
  @media screen and (max-width: 1000px) {
    .main {
        margin-left: 5%;
    }
  }

  @media screen and (max-width: 410px) {
    .main {
        margin-left: 1%;
    }
  }