.flexSpaceBetween {
    display: flex;
    width: 59rem;
    justify-content: space-between;
}

.mainContentView {
    background-color: #f4f4f4;
    width: 37.5rem;
    text-align: center;
    font-size: 40px;
    border-right: 1px solid gray;
}

.trending {
    background-color: #f4f4f4;
    width: 20rem;
    text-align: center;
    font-size: 40px;
}