.mainContentView {
    background-color: #000000;
    color: white;
    height : 100%;
    max-width: 37.5rem;
    text-align: center;
    font-size: 40px;
    margin-left: 13rem;
    overflow: hidden;
}

  @media screen and (max-width: 1000px) {
    .mainContentView {
        margin-left: 3rem;
    }
  }

  @media screen and (max-width: 500px) {
    .mainContentView {
        overflow-y: scroll;
    }
  }

.container {
  height: fit-content;
  width: 100%;
  display: inline-block;
}

.titleContainer {
  height: auto;
  width: calc(37.5rem - 0.5px);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.title {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 500;
}

.postCount {
    text-align: left;
    color: grey;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.profileBackround {
    width: 100%;
    height: 15rem;
    margin-top: 6.15rem;
    background-color: black;
}

.pictureButtonContainer {
  display: flex;
}

.profilePicture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: -5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 1;
    background-color: black;
    border: 3px solid black;
}

.profileButton {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
}

.profileButton Button {
    width: 10rem;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: hsl(0, 0%, 13%);
    border: none;
    border-radius: 32px;
    color: white;
}

.profileButton button:hover,
.profileButton button:active {
  background-color: rgb(29, 155, 240);
}

.username {
    text-align: left;
    color: grey;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.bio {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.website {
    text-align: left;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.followersContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
}

.followCount {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.profileNav {
  display: inline;
  border-bottom: 1px solid grey;
}

.profileNav ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0;
  border-bottom: 1px solid grey;
}

.profileNav ul li {
  height: 100%;
  width: 100%;
  list-style: none;
  flex: 1;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  box-sizing: border-box;
}

.profileNav ul li a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: grey;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.profileNav ul li a:hover {
  background-color: hsl(0, 0%, 13%);
}

.tabContent{
  display: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.tabContent:target {
  display: block;
}