  @media screen and (min-width: 1500px) {
    .rightnav {
        height : 100vh;
        width: 17rem;
        top: 0;
        padding-left: 2rem;
        margin-left: 50.5rem;
        border-left: 1px solid gray;
        position: fixed;
      }
  }
  @media screen and (max-width: 1500px) {
    .rightnav {
        display: none;
      }
  }

  .bottomMargin {
    margin-bottom: 0.2rem;
  }