.mainContentView {
	background-color: #f4f4f4;
	max-width: 37.5rem;
	text-align: center;
	font-size: 40px;
	margin-left: 13rem;
	border-right: 1px solid rgb(47, 51, 54);
	border-left: 1px solid rgb(47, 51, 54);
}

@media screen and (max-width: 1000px) {
	.mainContentView {
		margin-left: 3rem;
	}
}

.mainContentViewSticky {
	border-right: 1px solid rgb(47, 51, 54);
	border-left: 1px solid rgb(47, 51, 54);
	max-width: 37.5rem;
	margin-left: 13rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

@media screen and (max-width: 1000px) {
	.mainContentViewSticky {
		margin-left: 3rem;
	}
}
