.blockImage {
	width: 10%;
	vertical-align: top;
}

.img {
	vertical-align: unset !important;
	border-radius: 50%;
}

.blockContent {
	width: 90%;
	vertical-align: top;
	overflow-wrap: break-word;
}

.blockFlexContent {
	display: flex;
}

.overflow {
	display: flex;
	background-color: black;
	border-bottom: 1px solid rgb(47, 51, 54);
	padding-right: 0.5rem;
	padding-top: 0.5rem;
}

.overflow:hover {
	background-color: hsl(0, 0%, 7%);
}

.topText {
	font-size: 15px;
	color: white;
	height: 23px;
}

.topBottom {
	font-size: 15px;
	color: white;
	text-align: left;
	white-space: pre-line;
	overflow-wrap: break-word;
	overflow: auto;
}

.markdownColor {
	background-color: black !important;
}

.markdownColor {
	background-color: black !important;
}

.topUserText {
	color: rgb(113, 118, 123) !important;
}

.topLeft {
	float: left;
}
.topRight {
	float: right;
}

.inlineBlock {
	display: inline-block;
	padding-right: 0.3rem;
}

.flexContainer {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	color: rgb(113, 118, 123);
	padding-top: 0.25rem;
}

.flexContainer::before {
	content: "";
}

.flexContainer::after {
	content: "";
}

.flexItem,
.flexItemShare,
.flexItemLike {
	z-index: 1;
	height: 30px;
	text-align: left;
	width: calc(100% + 12px);
}

.flexItemLikeActive {
	color: rgb(186, 0, 0) !important;
}

.flexItemShare:hover {
	color: rgba(0, 186, 124, 0.5) !important;
}

.flexItemShare:active {
	color: rgb(0, 186, 124) !important;
}

.flexItemLike:hover {
	color: rgba(186, 0, 0, 0.5) !important;
}

.flexItemLike:active {
	color: rgb(186, 0, 0) !important;
}

.flexItem2 {
	height: 30px;
	text-align: right;
	width: calc(100% + 12px);
}

.separator {
	flex-grow: 1;
}

.postEmbed {
	width: 100%;
	border-color: rgb(47, 51, 54);
	border-radius: 0;
}

.missingEmbed {
	background-color: black;
	font-size: large;
	color: rgb(113, 118, 123);
	width: 100%;
	border-color: rgb(47, 51, 54);
	border-radius: 0;
}

.missingEmbed:hover {
	background-color: hsl(0, 0%, 7%);
}
